@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400&display=swap');
.text-on-circle {
    // height: 100%;
    // margin: 0;
    overflow: hidden;
    font-family: 'Arial';
    font-weight: 100;
    // position: absolute;
    // position: relative;
    // left: 0;
    // bottom: 0;
    // margin: 0 auto;
    width: 30vh;
    height: 20vh;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    // font-size: 2rem;
    color: #1b52aa;
    // color: #003A6F;
    animation: textOnCircle 60s linear infinite;
    text-align: center;
    span {
        position: absolute;
        // border: 1px solid #003A6F;
        display: inline-block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-transform: uppercase;
        font-size: 2vh;
        transition: all .5s cubic-bezier(0, 0, 0, 1);
    }
    @keyframes textOnCircle {
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            transform: rotateZ(360deg);
        }
    }
}